# Data Cleaning - Tidy up messy Datasets (Movies Dataset)

1. __Load__ and __inspect__ the messy dataset __movies_metadata.csv__. Identify columns with nested / stringified json data.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
pd.options.display.max_columns = 50

#### The dataset is very big for github. So I'm providing a drive link from where you can download it.
##### https://drive.google.com/file/d/1pVdgVOGFf2pGU9dHKu9Msf-WIj-eCl7i/view?usp=sharing

In [2]:
data = pd.read_csv('movies_metadata.csv',low_memory=False)

In [3]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
data.shape

(45466, 24)

In [5]:
data.info()
#Many columns which should be numerical are having object data type, meaning that they must be having mixed data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
data.describe(include='all')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
count,45466,4494,45466,45466,7782,45466,45449,45455,45466,44512,45461,45080,45463,45463,45379,4.546000e+04,45203.000000,45460,45379,20412,45460,45460,45460.000000,45460.000000
unique,5,1698,1226,4069,7673,45436,45417,92,43373,44307,43758,45024,22708,2393,17336,NaN,NaN,1931,6,20283,42277,2,NaN,NaN
top,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,"[{'id': 18, 'name': 'Drama'}]",http://www.georgecarlin.com,141971,tt1180333,en,Alice in Wonderland,No overview found.,0.0,/5D7UBSEgdyONE6Lql6xS7s6OLcW.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2008-01-01,NaN,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Cinderella,False,NaN,NaN
freq,45454,29,36573,5000,12,3,3,32269,8,133,66,5,11875,17851,136,NaN,NaN,22395,45014,7,11,45367,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.120935e+07,94.128199,NaN,NaN,NaN,NaN,NaN,5.618207,109.897338
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.433225e+07,38.407810,NaN,NaN,NaN,NaN,NaN,1.924216,491.310374
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,85.000000,NaN,NaN,NaN,NaN,NaN,5.000000,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,95.000000,NaN,NaN,NaN,NaN,NaN,6.000000,10.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,107.000000,NaN,NaN,NaN,NaN,NaN,6.800000,34.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.787965e+09,1256.000000,NaN,NaN,NaN,NaN,NaN,10.000000,14075.000000

In [7]:
#belongs_to_collection and genres have nested information so let's have a look at them
data.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [8]:
data.belongs_to_collection[0]
#Both these columns have strings which is a problem. We'll have to deal with them differently

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

## Dropping irrelevant Columns

In [9]:
data.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [10]:
data.drop(['adult', 'imdb_id', 'original_title', 'video', 'homepage'],axis=1,inplace=True)

## Handle stringified JSON columns

In [11]:
import ast

In [12]:
data.genres = data.genres.apply(ast.literal_eval)

In [13]:
data.loc[data.production_countries.notnull(),'production_countries'] = data.loc[data.production_countries.notnull(),'production_countries'].apply(ast.literal_eval)

In [14]:
data.loc[data.production_companies.notnull(),'production_companies'] = data.loc[data.production_companies.notnull(),'production_companies'].apply(ast.literal_eval)

In [15]:
data.loc[data.spoken_languages.notnull(),'spoken_languages'] = data.loc[data.spoken_languages.notnull(),'spoken_languages'].apply(ast.literal_eval)

In [16]:
data.loc[data.belongs_to_collection.notnull(),'belongs_to_collection'] = data.loc[data.belongs_to_collection.notnull(),'belongs_to_collection'].apply(ast.literal_eval)

In [17]:
data.belongs_to_collection[0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [18]:
data.belongs_to_collection = data.belongs_to_collection.apply(lambda x:x['name'] if isinstance(x, dict) else np.nan)

In [19]:
data.belongs_to_collection.isnull().sum()

40975

In [20]:
data.genres = data.genres.apply(lambda x:'|'.join([i['name'] for i in x]))

In [21]:
data.genres.value_counts()
#We need to replace the empty strings with NaN

Drama                                    5000
Comedy                                   3621
Documentary                              2723
                                         2442
Drama|Romance                            1301
                                         ...
Comedy|Science Fiction|Romance|Horror       1
Thriller|Crime|Documentary                  1
Romance|Adventure|Science Fiction           1
Action|Crime|Comedy|Romance                 1
Action|Drama|War|Romance|Thriller           1
Name: genres, Length: 4069, dtype: int64

In [22]:
data.genres.replace("",np.nan,inplace=True)

In [23]:
data.genres.value_counts(dropna=False)

Drama                                    5000
Comedy                                   3621
Documentary                              2723
NaN                                      2442
Drama|Romance                            1301
                                         ...
Comedy|Science Fiction|Romance|Horror       1
Thriller|Crime|Documentary                  1
Romance|Adventure|Science Fiction           1
Action|Crime|Comedy|Romance                 1
Action|Drama|War|Romance|Thriller           1
Name: genres, Length: 4069, dtype: int64

In [24]:
data.spoken_languages[0]

[{'iso_639_1': 'en', 'name': 'English'}]

In [25]:
data.spoken_languages = data.spoken_languages.apply(lambda x:'|'.join([i['name'] for i in x]) if isinstance(x,list) else np.nan)

In [26]:
data.spoken_languages.replace("",np.nan,inplace=True)

In [27]:
data.spoken_languages.value_counts(dropna=False)

English                                                        22395
NaN                                                             3958
Français                                                        1853
日本語                                                             1289
Italiano                                                        1218
                                                               ...
|한국어/조선말|Español                                                   1
Français|Română|Español                                            1
Français|Deutsch|English|Español|العربية|Magyar|日本語|Pусский        1
беларуская мова|Deutsch|Pусский                                    1
English|한국어/조선말|Français                                           1
Name: spoken_languages, Length: 1842, dtype: int64

In [28]:
data.production_countries = data.production_countries.apply(lambda x:'|'.join([i['name'] for i in x])if isinstance(x,list) else np.nan)

In [29]:
data.production_countries.value_counts()

United States of America                               17851
                                                        6282
United Kingdom                                          2238
France                                                  1654
Japan                                                   1356
                                                       ...
France|Belgium|Tunisia                                     1
Lebanon|France|Palestinian Territory                       1
Qatar|France|Germany|United States of America|Italy        1
France|Jordan                                              1
France|Germany|India                                       1
Name: production_countries, Length: 2390, dtype: int64

In [30]:
data.production_companies = data.production_companies.apply(lambda x:'|'.join([i['name'] for i in x])if isinstance(x,list) else np.nan)

In [31]:
data.production_companies.value_counts().head(30)

                                          11875
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Universal Pictures                          320
RKO Radio Pictures                          247
Columbia Pictures Corporation               207
Columbia Pictures                           146
Mosfilm                                     145
Walt Disney Pictures                         85
Universal International Pictures (UI)        82
New Line Cinema                              75
Walt Disney Productions                      75
Shaw Brothers                                71
Touchstone Pictures                          70
Toho Company                                 65
TriStar Pictures                             62
Orion Pictures                               61
Hammer Film Productions                      60
Fox Film Corporation                         58
United Artists                               55
Monogram Pictures                            54
Shôchiku Eiga                                50
Nikkatsu                                     47
TLA Releasing                                44
Miramax Films                                44
Edison Manufacturing Company                 43
New World Pictures                           42
American International Pictures (AIP)        42
Name: production_companies, dtype: int64

In [32]:
data.production_companies.replace("",np.nan,inplace=True)

In [33]:
data.production_companies.value_counts(dropna=False).head(10)

NaN                                       11881
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Universal Pictures                          320
RKO Radio Pictures                          247
Columbia Pictures Corporation               207
Columbia Pictures                           146
Mosfilm                                     145
Name: production_companies, dtype: int64

## Cleaning Numerical Columns

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   poster_path            45080 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   45460 non-null  object
 10  release_date           45379 non-null  object
 11  revenue                45460 non-null  float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: float64(4), object(15)
memory usage: 6.6+ MB

In [35]:
data.budget = pd.to_numeric(data.budget,errors='coerce')

In [36]:
data.budget.value_counts()

0.0           36573
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
              ...
4490331.0         1
313411.0          1
1020000.0         1
37.0              1
9500.0            1
Name: budget, Length: 1223, dtype: int64

In [37]:
data.budget.replace(0,np.nan,inplace=True)

In [38]:
data.budget.value_counts(dropna=False)

NaN           36576
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
              ...
4490331.0         1
313411.0          1
1020000.0         1
37.0              1
9500.0            1
Name: budget, Length: 1223, dtype: int64

In [39]:
data.budget = data.budget/1000000

In [40]:
data.revenue.value_counts()

0.0            38052
12000000.0        20
10000000.0        19
11000000.0        19
2000000.0         18
               ...
245724603.0        1
12212123.0         1
8203235.0          1
25900.0            1
12032983.0         1
Name: revenue, Length: 6863, dtype: int64

In [41]:
data.revenue.replace(0,np.nan,inplace=True)

In [42]:
data.revenue.value_counts(dropna=False)

NaN            38058
12000000.0        20
10000000.0        19
11000000.0        19
2000000.0         18
               ...
245724603.0        1
12212123.0         1
8203235.0          1
25900.0            1
12032983.0         1
Name: revenue, Length: 6863, dtype: int64

In [43]:
data.revenue = data.revenue/1000000

In [44]:
data.rename(columns = {"budget":"budget_musd","revenue":"revenue_musd"},inplace=True)

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget_musd            8890 non-null   float64
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   poster_path            45080 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   45460 non-null  object
 10  release_date           45379 non-null  object
 11  revenue_musd           7408 non-null   float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: float64(5), object(14)
memory usage: 6.6+ MB

In [46]:
data.runtime.value_counts()

90.0      2556
0.0       1558
100.0     1470
95.0      1412
93.0      1214
          ...
238.0        1
316.0        1
258.0        1
780.0        1
1256.0       1
Name: runtime, Length: 353, dtype: int64

In [47]:
data.runtime = data.runtime.replace(0, np.nan)

In [48]:
pd.id = pd.to_numeric(data.id,errors='coerce')

In [49]:
data.popularity = pd.to_numeric(data.popularity, errors='coerce')

In [50]:
data.popularity.value_counts(dropna=False)

0.000000     66
0.000001     56
0.000308     43
0.000220     40
0.000578     38
             ..
10.066776     1
0.954314      1
1.874027      1
0.512893      1
5.603312      1
Name: popularity, Length: 43758, dtype: int64

In [51]:
data.loc[data.vote_count == 0, "vote_average"] = np.nan

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget_musd            8890 non-null   float64
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45460 non-null  float64
 7   poster_path            45080 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   45460 non-null  object
 10  release_date           45379 non-null  object
 11  revenue_musd           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           42561 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: float64(6), object(13)
memory usage: 6.6+ MB

## Cleaning DateTime Columns

In [53]:
data.release_date = pd.to_datetime(data.release_date,errors='coerce')

In [54]:
data.release_date.value_counts(dropna=False)
#There are many movies with release dates as 1st of January.
#These may actually be place holders for when we don't know the real release dates.
#This should be kept in mind for all future analysis.

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
             ...
1932-12-22      1
1934-04-14      1
1943-06-02      1
1891-11-15      1
1967-09-20      1
Name: release_date, Length: 17334, dtype: int64

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget_musd            8890 non-null   float64
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45460 non-null  float64
 7   poster_path            45080 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   45460 non-null  object
 10  release_date           45376 non-null  datetime64[ns]
 11  revenue_musd           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           42561 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 6.6+ MB

## Cleaning Text / String Columns

In [56]:
data.original_language.value_counts(dropna=False).head(60)

en     32269
fr      2438
it      1529
ja      1350
de      1080
es       994
ru       826
hi       508
ko       444
zh       409
sv       384
pt       316
cn       313
fi       297
nl       248
da       225
pl       219
tr       150
cs       130
el       113
no       106
fa       101
hu       100
ta        78
th        76
he        67
sr        63
ro        57
te        45
ar        39
ml        36
xx        33
bn        29
hr        29
mr        25
et        24
is        24
tl        23
id        20
ka        18
lv        18
sl        17
uk        16
bs        14
ca        12
NaN       11
bg        10
ab        10
vi        10
sk         9
lt         9
ur         8
nb         6
sq         5
wo         5
mk         5
ms         5
sh         5
kn         3
eu         3
Name: original_language, dtype: int64

In [57]:
data.title.value_counts()
#There are multiple movies with the same name but that's okay as they might be remakes

Cinderella                               11
Hamlet                                    9
Alice in Wonderland                       9
Les Misérables                            8
Beauty and the Beast                      8
                                         ..
Edward Scissorhands                       1
Son of Flubber                            1
Monster High: Welcome to Monster High     1
Triple Crossed                            1
Shaolin vs. Lama                          1
Name: title, Length: 42277, dtype: int64

In [58]:
data.overview.value_counts(dropna = False).head(20)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   954
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        5
Released                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                          3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3
Karol has everything. He has three mistresses in addition to the bride. He is charming, loves sex and enslaves women in the blink of an eye. He's also well aware of that women like and uses it for his benefits.                                                                                                                                                                                                                                                                                                                                                                                                                                      2
With friends like these, who needs enemies? That's the question bad guy Porter is left asking after his wife and partner steal his heist money and leave him for dead -- or so they think. Five months and an endless reservoir of bitterness later, Porter's partners and the crooked cops on his tail learn how bad payback can be.                                                                                                                                                                                                                                                                                                                   2
When Molly Hale's sadness of her father's disappearance get to her, she unknowingly uses the Unown to create her own dream world along with Entei, who she believes to be her father. When Entei kidnaps Ash's mom, Ash along with Misty & Brock invade the mansion looking for his mom and trying to stop the mysteries of Molly's Dream World and Entei!                                                                                                                                                                                                                                                                                              2
Poor but happy, young Nello and his grandfather live alone, delivering milk as a livelihood, in the outskirts of Antwerp, a city in Flanders (the Flemish or Dutch-speaking part of modern-day Belgium). They discover a beaten dog (a Bouvier, a large sturdy dog native to Flanders) and adopt it and nurse it back to health, naming it Patrasche, the middle name of Nello's mother Mary, who died when Nello was very young. Nello's mother was a talented artist, and like his mother, he delights in drawing, and his friend Aloise is his model and greatest fan and supporter.                                                                 2
Director Michael Apted revisits the same group of British-born adults after a 7 year wait. The subjects are interviewed as to the changes that have occurred in their lives during the last seven years.                                                                                                                                                                                                                                                                                                                                                                                                                                                2
Since women are banned from soccer matches, Iranian females masquerade as males so they can slip into Tehran's stadium to see the game between Iran and Bahrain. The ones who are caught and arrested are taken to a holding area and guarded by soldiers. One sympathetic soldier agrees to watch the game through a peephole and recount the action to the impatient fans.                                                                                                                                                                                                                                                                            2
A former aristocrat Ippolit Vorobyaninov leads a miserable life in Soviet Russia. His mother-in-law reveals a secret to him - she hid family diamonds in one of the twelve chairs they once had. Vorobyaninov in cooperation with a young con artist Ostap Bender start a long search for the diamonds.                                                                                                                                                                                                                                                                                                                                                 2
Prospero, the true Duke of Milan is now living on an enchanted island with his daughter Miranda, the savage Caliban and Ariel, a spirit of the air. Raising a sorm to bring his brother - the usurper of his dukedom - along with his royal entourage. to the island. Prospero contrives his revenge.                                                                                                                                                                                                                                                                                                                                                   2
Wilbur the pig is scared of the end of the season, because he knows that come that time, he will end up on the dinner table. He hatches a plan with Charlotte, a spider that lives in his pen, to ensure that this will never happen.                                                                                                                                                                                                                                                                                                                                                                                                                   2
Count de Chagnie has discovered Christine's singing talent on a market place and sent her to his friend Carriere, the director of the Parisian opera. However just when she arrives Carriere's dismissed. His arrogant successor refuses to let a woman of low birth sing in his opera, but graciously employs Christine as gadrobiere for his wife Charlotta, who's installed as first singer. He also fights the phantom, an unknown guy who lives since many years in the catacombs below the opera and was granted privileges by Carriere. However the phantom knows how to defend himself and at the same time helps Christine to her career.      2
Name: overview, dtype: int64

In [59]:
data.overview.replace("No overview found.", np.nan, inplace = True)

In [60]:
data.overview.replace("No Overview", np.nan, inplace = True)

In [61]:
data.overview.replace("No movie overview available.", np.nan, inplace = True)

In [62]:
data.overview.replace(" ", np.nan, inplace = True)

In [63]:
data.overview.replace("No overview yet.", np.nan, inplace = True)

In [64]:
data.overview.replace("Released", np.nan, inplace = True)

In [65]:
data.overview.value_counts()

Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.    3
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                            3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3
Mary, a writer working on a novel about a love triangle, is attracted to her publisher. Her suitor Jimmy is determined to break them up; he introduces Mary to the publisher's wife without telling Mary who she is.                                                                                                                                                                                                                                                                                                                                                                              2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
After his mother flees the family home, a son turns to thieving in order to support his father, an abusive sort who is addicted to gambling.                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
In an effort to find an economic means of purifying salt water, a joint U.S.-Japanese military command is set up on an isolated Japanese island where an unusual salt water lake is situated. However, their purifying experiments arouse the prehistoric monster Obaki from hibernation at the lake's bottom, and it proceeds to attack Japan.                                                                                                                                                                                                                                                   1
Early 20th century Philippines. The sounds of war signal the arrival of the Americans. A mother and son flee to the mountains, hoping for a quiet life. One day, the son discovers a wounded woman in the middle of the forest, and decides to bring her home.                                                                                                                                                                                                                                                                                                                                    1
"Michael Moore doesn't like documentaries. That's why he doesn't make them." A documentary that looks to distinguish what's fact, fiction, legend, and otherwise as a camera crew trails Michael Moore as he tours with his film, Fahrenheit 9/11.                                                                                                                                                                                                                                                                                                                                                1
With a God-inspired moral obligation to act against evil, twin brothers Conner and Murphy set out to rid Boston of criminals. However, rather than working within the system, these Irish Americans decide to take swift retribution into their own hands.                                                                                                                                                                                                                                                                                                                                        1
Name: overview, Length: 44301, dtype: int64

In [66]:
data.tagline.value_counts(dropna = False).head(50)

NaN                                                             25054
Based on a true story.                                              7
-                                                                   4
Be careful what you wish for.                                       4
Trust no one.                                                       4
Classic Albums                                                      3
The end is near.                                                    3
Know Your Enemy                                                     3
A Love Story                                                        3
Who is John Galt?                                                   3
Some doors should never be opened.                                  3
Which one is the first to return - memory or the murderer?          3
Drama                                                               3
Documentary                                                         3
There is no turning back                                            3
How far would you go?                                               3
There are two sides to every love story.                            3
Who's next?                                                         2
Face Your Fears                                                     2
Worlds Collide                                                      2
One Nation. Underfed.                                               2
Der deutsche Millionen-Film!                                        2
How can you believe your eyes when they're not yours?               2
Never give up.                                                      2
There are no clean getaways.                                        2
Too much is never enough.                                           2
This is my Story                                                    2
Touched by Genius. Cursed by Madness. Blinded by Love.              2
Some things are better left top secret.                             2
The adventure of a lifetime, in a few mere seconds.                 2
Legends never die                                                   2
Love is a monster.                                                  2
The first to die were the lucky ones!                               2
There's one in all of us.                                           2
Nothing stays buried forever.                                       2
What you know about fear... doesn't even come close.                2
RELENTLESS SUSPENSE!                                                2
Inspect the unexpected.                                             2
Stand Your Ground                                                   2
The band you know. The story you don't.                             2
The bad news is you have houseguests. There is no good news.        2
Free your mind.                                                     2
A terrifying love story.                                            2
The Awakening                                                       2
One ordinary couple. One little white lie.                          2
No one stays innocent forever.                                      2
A Lone Star Western Release                                         2
Fight Fire With Fire                                                2
No one is above the law.                                            2
Awaken to a World of Wonders!                                       2
Name: tagline, dtype: int64

In [67]:
data.tagline.replace("-", np.nan, inplace = True)

In [68]:
data.tagline.value_counts().head(50)

Based on a true story.                                                      7
Be careful what you wish for.                                               4
Trust no one.                                                               4
Classic Albums                                                              3
Documentary                                                                 3
The end is near.                                                            3
Know Your Enemy                                                             3
There are two sides to every love story.                                    3
Drama                                                                       3
Some doors should never be opened.                                          3
Who is John Galt?                                                           3
How far would you go?                                                       3
Which one is the first to return - memory or the murderer?                  3
A Love Story                                                                3
There is no turning back                                                    3
Inspect the unexpected.                                                     2
The Awakening                                                               2
Two Films. One Love.                                                        2
Beyond darkness... beyond desolation... lies the greatest danger of all.    2
Be careful who you trust.                                                   2
Love is a force of nature.                                                  2
Love is a monster.                                                          2
Evil will rise.                                                             2
No one stays innocent forever.                                              2
Murder is an art.                                                           2
The hunt is on.                                                             2
...Fear is the Message!                                                     2
What could go wrong?                                                        2
Every woman who has loved will understand                                   2
One ordinary couple. One little white lie.                                  2
A terrifying love story.                                                    2
RELENTLESS SUSPENSE!                                                        2
It's never too late.                                                        2
A Hero Must Choose: The Power of Ideals... or the Courage of Truth?         2
Trust No One                                                                2
Nothing stays buried forever.                                               2
The bad news is you have houseguests. There is no good news.                2
Fight Fire With Fire                                                        2
There's one in all of us.                                                   2
The band you know. The story you don't.                                     2
The only way out is down.                                                   2
What you know about fear... doesn't even come close.                        2
Stand Your Ground                                                           2
Some things are worth fighting for.                                         2
Some lines should never be crossed.                                         2
The end of the world is just the beginning.                                 2
The legend comes to life.                                                   2
Nothing is more dangerous than the truth.                                   2
How can you believe your eyes when they're not yours?                       2
Touched by Genius. Cursed by Madness. Blinded by Love.                      2
Name: tagline, dtype: int64

## Removing Duplicates

In [69]:
data[data.duplicated(subset='id',keep=False)].sort_values("id")

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
676,NaN,NaN,Drama|Romance,105045,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,Studio Babelsberg|Centre National de la Cinéma...,Germany,1995-02-16,NaN,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,5.0,1.0
1465,NaN,NaN,Drama|Romance,105045,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,Studio Babelsberg|Centre National de la Cinéma...,Germany,1995-02-16,NaN,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,5.0,1.0
44821,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991,ja,When Molly Hale's sadness of her father's disa...,6.480376,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,2000-07-08,68.411275,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,6.0,144.0
4114,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991,ja,When Molly Hale's sadness of her father's disa...,10.264597,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,2000-07-08,68.411275,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,6.0,143.0
5710,NaN,NaN,Drama,109962,en,Two literary women compete for 20 years: one w...,12.180836,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,1981-09-23,NaN,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,4.9,7.0
20899,NaN,NaN,Drama,109962,en,Two literary women compete for 20 years: one w...,10.396878,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,1981-09-23,NaN,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,4.9,7.0
23534,NaN,3.512454,Drama,110428,fr,"Winter, 1915. Confined by her family to an asy...",0.110065,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,2013-03-13,0.115860,95.0,Français,Released,NaN,Camille Claudel 1915,7.0,20.0
4356,NaN,3.512454,Drama,110428,fr,"Winter, 1915. Confined by her family to an asy...",0.134014,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,2013-03-13,0.115860,95.0,Français,Released,NaN,Camille Claudel 1915,7.0,20.0
24844,NaN,NaN,Comedy|Drama,11115,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,Andertainment Group|Crescent City Pictures|Tag...,United States of America,2008-01-29,NaN,85.0,English,Released,NaN,Deal,5.2,22.0
14012,NaN,NaN,Comedy|Drama,11115,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,Andertainment Group|Crescent City Pictures|Tag...,United States of America,2008-01-29,NaN,85.0,English,Released,NaN,Deal,5.2,22.0
21165,NaN,NaN,Fantasy|Drama|Science Fiction,119916,en,"Prospero, the true Duke of Milan is now living...",0.000018,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,NaN,,1980-02-27,NaN,123.0,NaN,Released,NaN,The Tempest,NaN,0.0
19890,NaN,NaN,Fantasy|Drama|Science Fiction,119916,en,"Prospero, the true Duke of Milan is now living...",0.000018,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,NaN,,1980-02-27,NaN,123.0,NaN,Released,NaN,The Tempest,NaN,0.0
5535,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,12600,ja,"All your favorite Pokémon characters are back,...",7.072301,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,NaN,Japan|United States of America,2001-07-06,28.023563,75.0,日本語,Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,5.7,82.0
44826,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,12600,ja,"All your favorite Pokémon characters are back,...",6.080108,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,NaN,Japan|United States of America,2001-07-06,28.023563,75.0,日本語,Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,5.7,82.0
11342,NaN,0.002500,Drama|Comedy|Foreign,13209,fa,"Since women are banned from soccer matches, Ir...",1.528960,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,Jafar Panahi Film Productions,Iran,2006-05-26,NaN,93.0,فارسی,Released,NaN,Offside,6.7,27.0
15765,NaN,0.002500,Drama|Comedy|Foreign,13209,fa,"Since women are banned from soccer matches, Ir...",1.529879,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,Jafar Panahi Film Productions,Iran,2006-05-26,NaN,93.0,فارسی,Released,NaN,Offside,6.7,27.0
838,NaN,NaN,Drama,132641,ja,"Ten years into a marriage, the wife is disappo...",0.096079,/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,Toho Company,Japan,1953-04-29,NaN,89.0,日本語,Released,NaN,Wife,NaN,0.0
30001,NaN,NaN,Drama,132641,ja,"Ten years into a marriage, the wife is disappo...",0.619388,/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,Toho Company,Japan,1953-04-29,NaN,89.0,日本語,Released,NaN,Wife,NaN,0.0
16764,NaN,NaN,Thriller|Mystery,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0
13261,NaN,NaN,Thriller|Mystery,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0
13375,NaN,NaN,Thriller|Mystery,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0
10419,NaN,1.600000,Drama|Crime|Mystery,14788,en,Set against the backdrop of a decaying Midwest...,3.185256,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,Magnolia Pictures|Extension 765,United States of America,2005-09-03,NaN,73.0,English,Released,NaN,Bubble,6.4,36.0
12066,NaN,1.600000,Drama|Crime|Mystery,14788,en,Set against the backdrop of a decaying Midwest...,3.008299,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,Magnolia Pictures|Extension 765,United States of America,2005-09-03,NaN,73.0,English,Released,NaN,Bubble,6.4,36.0
5130,NaN,26.000000,Adventure|Family|Science Fiction|Thriller,15028,en,"Until now, Zak Gibbs' greatest challenge has b...",5.373623,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,Paramount Pictures|Nickelodeon Movies|Valhalla...,United States of America,2002-03-17,38.793283,94.0,Český|English,Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,4.9,89.0
33743,NaN,26.000000,Adventure|Family|Science Fiction|Thriller,15028,en,"Until now, Zak Gibbs' greatest challenge has b...",4.920175,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,Paramount Pictures|Nickelodeon Movies|Valhalla...,United States of America,2002-03-17,38.793283,94.0,Český|English,Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,4.9,90.0
19925,NaN,NaN,Drama|Science Fiction|Animation,152795,en,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,Pandora Filmproduktion|Entre Chien et Loup|Opu...,Belgium|France|Germany|Israel|Luxembourg|Poland,2013-05-16,0.455815,122.0,English,Released,NaN,The Congress,6.4,165.0
21854,NaN,NaN,Drama|Science Fiction|Animation,152795,en,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,Pandora Filmproduktion|Entre Chien et Loup|Opu...,Belgium|France|Germany|Israel|Luxembourg|Poland,2013-05-16,0.455815,122.0,English,Released,NaN,The Congress,6.4,165.0
35798,Why We Fight,NaN,Documentary,159849,en,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,NaN,United States of America,1943-01-01,NaN,57.0,English,Released,NaN,Why We Fight: Divide and Conquer,5.0,1.0
13220,Why We Fight,NaN,Documentary,159849,en,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,NaN,United States of America,1943-01-01,NaN,57.0,English,Released,NaN,Why We Fight: Divide and Conquer,5.0,1.0
13603,NaN,NaN,Drama|Comedy,168538,en,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,Cannon Group|Metro-Goldwyn-Mayer (MGM),,1983-06-13,NaN,92.0,NaN,Released,NaN,"Nana, the True Key of Pleasure",4.7,3.0
28860,NaN,NaN,Drama|Comedy,168538,en,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,Cannon Group|Metro-Goldwyn-Mayer (MGM),,1983-06-13,NaN,92.0,NaN,Released,NaN,"Nana, the True Key of Pleasure",4.7,3.0
22151,NaN,NaN,Action|Horror|Science Fiction,18440,en,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,NaN,United States of America,2007-01-01,NaN,89.0,English,Released,NaN,Days of Darkness,5.0,5.0
14000,NaN,NaN,Action|Horror|Science Fiction,18440,en,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,NaN,United States of America,2007-01-01,NaN,89.0,English,Released,NaN,Days of Darkness,5.0,5.0
949,NaN,0.000004,Drama|Romance|War,22649,en,British nurse Catherine Barkley (Helen Hayes) ...,1.914697,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,Paramount Pictures,United States of America,1932-12-08,0.000025,89.0,English,Released,Every woman who has loved will understand,A Farewell to Arms,6.2,29.0
15074,NaN,0.000004,Drama|Romance|War,22649,en,British nurse Catherine Barkley (Helen Hayes) ...,2.411191,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,Paramount Pictures,United States of America,1932-12-08,0.000025,89.0,English,Released,Every woman who has loved will understand,A Farewell to Arms,6.2,29.0
8068,NaN,NaN,Adventure|Animation|Drama|Action|Foreign,23305,en,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,Filmfour,France|Germany|India|United Kingdom,2001-09-23,NaN,86.0,हिन्दी,Released,NaN,The Warrior,6.3,15.0
9327,NaN,NaN,Adventure|Animation|Drama|Action|Foreign,23305,en,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,Filmfour,France|Germany|India|United Kingdom,2001-09-23,NaN,86.0,हिन्दी,Released,NaN,The Warrior,6.3,15.0
17229,NaN,NaN,Drama,25541,da,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,NaN,Sweden|Denmark,2009-10-21,NaN,90.0,Dansk,Released,NaN,Brotherhood,7.1,21.0
23044,NaN,NaN,Drama,25541,da,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,NaN,Sweden|Denmark,2009-10-21,NaN,90.0,Dansk,Released,NaN,Brotherhood,7.1,21.0
24164,NaN,NaN,Comedy|Drama,265189,sv,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,Motlys|Coproduction Office|Film i Väst,Norway|Sweden|France,2014-08-15,1.359497,118.0,Français|Norsk|svenska|English,Released,NaN,Force Majeure,6.8,255.0
45265,NaN,NaN,Comedy|Drama,265189,sv,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,Motlys|Coproduction Office|Film i Väst,Norway|Sweden|France,2014-08-15,1.359497,118.0,Français|Norsk|svenska|English,Released,NaN,Force Majeure,6.8,255.0
33184,NaN,0.980000,Drama|Fantasy,298721,th,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"Match Factory, The|Louverture Films|Tordenfilm...",United Kingdom|United States of America|France...,2015-09-02,NaN,122.0,English|ภาษาไทย,Released,NaN,Cemetery of Splendour,4.4,50.0
40040,NaN,0.980000,Drama|Fantasy,298721,th,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"Match Factory, The|Louverture Films|Tordenfilm...",United Kingdom|United States of America|France...,2015-09-02,NaN,122.0,English|ภาษาไทย,Released,NaN,Cemetery of Splendour,4.4,50.0
15702,NaN,NaN,Drama|Foreign,42495,en,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,Royal Shakespeare Company|Laterna Film|Athena ...,Denmark|United Kingdom,1971-02-04,NaN,137.0,English,Rumored,NaN,King Lear,8.0,3.0
29374,NaN,NaN,Drama|Foreign,42495,en,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,Royal Shakespeare Company|Laterna Film|Athena ...,Denmark|United Kingdom,1971-02-04,NaN,137.0,English,Rumored,NaN,King Lear,8.0,3.0
33826,NaN,30.000000,Comedy|Crime|Drama|Romance|Thriller,4912,en,"Television made him famous, but his biggest hi...",7.645827,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,Miramax Films|Allied Filmmakers|Mad Chance,United States of America,2002-12-30,33.013805,113.0,English,Released,Some things are better left top secret.,Confessions of a Dangerous Mind,6.6,281.0
5865,NaN,30.000000,Comedy|Crime|Drama|Romance|Thriller,4912,en,"Television made him famous, but his biggest hi...",11.331072,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,Miramax Films|Allied Filmmakers|Mad Chance,United States of America,2002-12-30,33.013805,113.0,English,Released,Some things are better left top secret.,Confessions of a Dangerous Mind,6.6,281.0
7345,NaN,NaN,Crime|Drama|Thriller,5511,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Fida cinematografica|Compagnie Industrielle et...,France|Italy,1967-10-25,0.039481,105.0,Français,Released,There is no solitude greater than that of the ...,Le Samouraï,7.9,187.0
9165,NaN,NaN,Crime|Drama|Thriller,5511,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Fida cinematografica|Compagnie Industrielle et...,France|Italy,1967-10-25,0.039481,105.0,Français,Released,There is no solitude greater than that of the ...,Le Samouraï,7.9,187.0
26625,NaN,10.000000,Drama|Horror|Music|Romance|TV Movie,69234,en,Count de Chagnie has discovered Christine's si...,0.438490,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,Beta Film|Reteitalia|TF1|Hexatel|Saban/Scheric...,France|Germany|Italy|United States of America,1990-03-18,NaN,168.0,English|Italiano,Released,NaN,The Phantom of the Opera,5.0,3.0
9576,NaN,10.000000,Drama|Horror|Music|Romance|TV Movie,69234,en,Count de Chagnie has discovered Christine's si...,0.441872,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,Beta Film|Reteitalia|TF1|Hexatel|Saban/Scheric...,France|Germany|Italy|United States of America,1990-03-18,NaN,168.0,English|Italiano,Released,NaN,The Phantom of the Opera,5.0,3.0
20843,NaN,40.000000,Adventure|Drama,77221,en,"On the Arabian Peninsula in the 1930s, two war...",6.475665,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,France 2 Cinéma|Quinta Communications|Carthago...,France|Italy|Qatar|Tunisia,2011-12-21,5.446000,130.0,English,Released,NaN,Black Gold,5.9,77.0
11155,NaN,40.000000,Adventure|Drama,77221,en,"On the Arabian Peninsula in the 1930s, two war...",6.652197,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,France 2 Cinéma|Quinta Communications|Carthago...,France|Italy|Qatar|Tunisia,2011-12-21,5.446000,130.0,English,Released,NaN,Black Gold,5.9,77.0
2564,NaN,NaN,Documentary,84198,en,"Using personal stories, this powerful document...",0.501046,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,NaN,United States of America,2012-03-22,NaN,84.0,English,Released,One Nation. Underfed.,A Place at the Table,6.9,7.0
21116,NaN,NaN,Documentary,84198,en,"Using personal stories, this powerful document...",1.673307,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,NaN,United States of America,2012-03-22,NaN,84.0,English,Released,One Nation. Underfed.,A Place at the Table,6.9,7.0
13946,NaN,NaN,Comedy,97995,en,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,Max Linder Productions,United States of America,1921-02-06,NaN,62.0,English,Released,NaN,Seven Years Bad Luck,5.6,4.0
40276,NaN,NaN,Comedy,97995,en,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,Max Linder Productions,United States of America,1921-02-06,NaN,62.0,English,Released,NaN,Seven Years Bad Luck,5.6,4.0
38871,NaN,NaN,Action|Drama|Romance|Adventure,99080,en,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,NaN,,1931-06-21,NaN,70.0,English,Released,Actually produced during the Great Newfoundlan...,The Viking,NaN,0.0
16167,NaN,NaN,Action|Drama|Romance|Adventure,99080,en,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,NaN,,1931-06-21,NaN,70.0,English,Released,Actually produced during the Great Newfoundlan...,The Viking,NaN,0.0

In [70]:
data.drop_duplicates(subset='id',inplace=True)

In [71]:
data.id.value_counts()

180900    1
49271     1
168676    1
16378     1
25749     1
         ..
100205    1
72449     1
107625    1
31544     1
409696    1
Name: id, Length: 45436, dtype: int64

## Handling Missing Values & Removing Observations

In [72]:
data.isnull().sum()

belongs_to_collection    40948
budget_musd              36556
genres                    2442
id                           0
original_language           11
overview                  1107
popularity                   6
poster_path                386
production_companies     11874
production_countries         6
release_date                90
revenue_musd             38038
runtime                   1821
spoken_languages          3956
status                      87
tagline                  25039
title                        6
vote_average              2902
vote_count                   6
dtype: int64

In [73]:
data.dropna(subset = ['id','title'],inplace=True)

In [74]:
data.id = data.id.astype('int')

In [75]:
data.notnull().sum(axis=1).value_counts()

15    13221
16    11640
14     6336
17     4325
18     3867
13     2636
12     1321
19     1132
11      600
10      220
9       108
8        20
7         4
dtype: int64

In [76]:
data.dropna(thresh=11,inplace=True)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45078 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4487 non-null   object
 1   budget_musd            8878 non-null   float64
 2   genres                 42955 non-null  object
 3   id                     45078 non-null  int32
 4   original_language      45068 non-null  object
 5   overview               44135 non-null  object
 6   popularity             45078 non-null  float64
 7   poster_path            44860 non-null  object
 8   production_companies   33560 non-null  object
 9   production_countries   45078 non-null  object
 10  release_date           45038 non-null  datetime64[ns]
 11  revenue_musd           7398 non-null   float64
 12  runtime                43544 non-null  float64
 13  spoken_languages       41445 non-null  object
 14  status                 45014 non-null  object
 15  tagline                20396 non-null  object
 16  title                  45078 non-null  object
 17  vote_average           42450 non-null  float64
 18  vote_count             45078 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), object(11)
memory usage: 6.7+ MB

## Final (Cleaning) Steps

In [78]:
data.status.value_counts()

Released           44653
Rumored              226
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [79]:
data = data[data.status=='Released']

In [80]:
data.status.value_counts()

Released    44653
Name: status, dtype: int64

In [81]:
data.drop(columns = ["status"], inplace = True)

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44653 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4463 non-null   object
 1   budget_musd            8854 non-null   float64
 2   genres                 42572 non-null  object
 3   id                     44653 non-null  int32
 4   original_language      44644 non-null  object
 5   overview               43734 non-null  object
 6   popularity             44653 non-null  float64
 7   poster_path            44442 non-null  object
 8   production_companies   33355 non-null  object
 9   production_countries   44653 non-null  object
 10  release_date           44619 non-null  datetime64[ns]
 11  revenue_musd           7385 non-null   float64
 12  runtime                43172 non-null  float64
 13  spoken_languages       41079 non-null  object
 14  tagline                20284 non-null  object
 15  title                  44653 non-null  object
 16  vote_average           42068 non-null  float64
 17  vote_count             44653 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), object(10)
memory usage: 6.3+ MB

In [85]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
"original_language", "budget_musd", "revenue_musd", "production_companies",
"production_countries", "vote_count", "vote_average", "popularity", "runtime",
"overview", "spoken_languages", "poster_path"]

In [86]:
data = data.loc[:,col]

In [87]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
data.poster_path = "<img src='" + base_poster_url + data.poster_path + "' style='height:100px;'>"

In [88]:
data.poster_path[0]

"<img src='http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4veEXuwCC2wARtG.jpg' style='height:100px;'>"

In [89]:
data.to_csv("movies_clean.csv", index = False)