<a href="https://colab.research.google.com/github/danishkhan0510/PythonProjects/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
data = pd.read_csv('/content/diabetes.csv')

In [5]:
data.shape

(768, 9)

In [7]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [8]:
data.info()
#There are no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
data.describe()
#Statistical measures for all columns look fine.

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [10]:
data['Outcome'].value_counts()
#To see number of diabetic and non-diabetic observations

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
data.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [12]:
#Seperating features and label
x = data.drop('Outcome',axis=1)
y = data['Outcome']

In [13]:
scalar = StandardScaler()

In [14]:
scalar.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [15]:
x_standardized = scalar.transform(x)

In [16]:
x_standardized = pd.DataFrame(x_standardized,index=x.index,columns=x.columns)

In [18]:
#Splitting in train and test sets
x_train, x_test, y_train, y_test = train_test_split(x_standardized,y,test_size=0.2,stratify=y,random_state=1)

In [19]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((614, 8), (614,), (154, 8), (154,))

In [20]:
model = SVC(kernel='linear')

In [21]:
model.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [23]:
#Training accuracy
accuracy_score(y_train_pred,y_train)

0.7833876221498371

In [24]:
#Test accuracy
accuracy_score(y_test_pred,y_test)

0.7792207792207793

In [ ]:
#Making Predictive System

In [32]:
input_data = (1,115,70,30,96,34.6,0.529,32)
input_data = np.asarray(input_data)
input_data = input_data.reshape(1,-1)
input_data = scalar.transform(input_data)
prediction = model.predict(input_data)
if prediction[0]==0:
  print("Not Diabetic")
else:
  print("Diabetic")

Not Diabetic